pytorch-lightning[extra] ~= 1.7.4
torch ~= 1.12.1
torchvision ~= 0.13.0
opencv-python-headless ~= 4.6.0.66
matplotlib ~= 3.5.3
pycocotools ~= 2.0.4
albumentations ~= 1.2.1
torchmetrics ~= 0.9.3
mmcv-full ~= 1.6.1
typed-argument-parser

black